.btn {
  padding: 5px 10px;
  color: black;
  background-color: #b889fb;
  border: 2px solid white;
  border-radius: 30px;
  cursor: pointer;
  font-size: 20px;
  position: relative;
  left: 15%;
  width: auto;
}

.mainIMG {
  float: left;
  max-width: 30%;
  height: auto;
  border: 8px solid #000;
}
